<div class="container">
  <div class="text-center">
    <img class="img-fluid img-thumbnail logo" src="../../assets/rekindle.png" alt="logo">
  </div>


<!-- FORM -->
<form method="POST" action="#">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="submit" class="btn btn-danger" routerLink = "/dashboard">Bypass</button>
  </form>

    <!-- footer -->
  <div class="fixed-bottom container">
    <p>Supported by:</p>
    <img src="..\assets\logo.png" class="img-fluid float-left footer-img" alt="IIMB-NSRCEL LOGO">
    <img src="..\assets\Startindia.png" class="img-fluid float-right footer-img" alt="StartUpIndiaLogo">
  </div>

</div>
  