
<div class="container">
  <div class="jumbotron">
    <h3 class="text-center">Delete a Segment</h3>
    <form>
      <div class="form-group">
        <label for="segmentName">Segment Name</label>
        <input type="text" class="form-control" name="segmentName" id="segmentName" aria-describedby="segmentName" placeholder="Segment Name" [(ngModel)] = "segmentName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="parentSelect">Parent:</label>
        </div>
        <select name="parent" class="custom-select" id="parentSelect" [(ngModel)] = "parentName">
          <option>Choose...</option>
          <option *ngFor="let segment of segments"> {{segment.name}} </option>
        </select>
      </div>
      <button type="submit" class="btn btn-danger" (click)= "deleteSegment()">Delete Segment</button>
      <button type="button" class="btn btn-secondary pull-right" routerLink = '/segments'>Back</button>
    </form>
  </div>
</div>




