<div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" routerLink = 'add-segment'><i class="far fa-plus-square fa-3x"></i></button>
        <button type="button" class="btn btn-secondary" routerLink = 'delete-segment'><i class="far fa-minus-square fa-3x"></i></button>
        <button type="button" class="btn btn-secondary" routerLink = 'reassign-segment'><i class="far fa-edit fa-3x"></i> </button>
        <button type="button" class="btn btn-secondary" routerLink = 'flow-calc'><i class="fas fa-tint fa-3x"></i> </button>
</div>